<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_15_ki.Properties.Settings.MyDatabase_1ConnectionString"
            connectionString="Data Source=|DataDirectory|\MyDatabase#1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>