<?xml version="1.0" encoding="utf-8" ?>
<config 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="configSchema.xsd">
  <count>15</count>
  <str>ЛАБИРИНТ!!!</str>
  <color>
    <colorBack>#45320000</colorBack>
    <colorUp>#ffffffff</colorUp>
  </color>
</config>